body {
  font-family: "Roboto", "sans-serif";
  color: #2e2f42;
}

.mainpage-link {
  color: #2e2f42;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.16;
}

.web {
  color: #4d5ae5;
}

.header-navigation {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.address {
  font-size: 16px;
  line-height: 1.5;
}

.philter-button {
  color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
}

.philter-button:hover,
.philter-button:focus {
  background: #404bbf;
  color: #fff;
}
.portfolio-item-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

.portfolio-item-philtertag {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}

.footer-catchphrase {
  color: #f4f4fd;
  line-height: 1.5;
}
