:root {
  --main-text-color: #434455;
  --main-background-color: #ffffff;
  --logo-color: #4d5ae5;
  --studio-color: #2e2f42;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
  background-color: var(--main-background-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.mainpage-link {
  color: var(--logo-color);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.studio {
  color: var(--studio-color);
}

.header-navigation {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--studio-color);
}

.header-navigation:hover,
.header-navigation:focus {
  color: #404bbf;
}

.address {
  font-size: 16px;
  line-height: 1.5;
}

.philter-button {
  color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
}

.philter-button:hover,
.philter-button:focus {
  background: #404bbf;
  color: #fff;
}
.portfolio-item-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

.portfolio-item-philtertag {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}

.footer-catchphrase {
  color: #f4f4fd;
  line-height: 1.5;
}
